@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  li {
    @apply md:p-4 lg:p-7;
  }

}

body{
  font-family: 'Inter', sans-serif;
  color: #232E35;
}

.border-mycolor{
  border-color: #F1F1F1;
}

.text-mycolor{
  color: #F1F1F1;
}
